@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    background-image: linear-gradient(180deg, rgb(251,106,75), rgb(244,92,104));
    /*background-color: beige;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.daily-todo-list {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.main__container {
    border: 1px solid rgb(199, 199, 199);
    border-radius: .3rem;
    background-color: rgb(242,246,253);
    color: rgb(100,100,100);
    display: flex;
    flex-flow: column wrap;
    min-height: 28rem;
    width: 28rem;
    margin-bottom: 10%;
}

.date__container {
    margin: 1rem 0 1rem 1.5rem;
}

.weekDay, .date {
    color:  rgb(209, 110, 103);
    font-weight: 600;
    font-size: 1.25rem;
}

.input-todo__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem;
}

.input-todo {
    border: 1px solid rgb(199, 199, 199);
    border-radius: .2rem;
    font-size: 1rem;
    height: 2.5rem;
    padding: 1rem;
    width: 20rem;
}

.input-todo:focus {
    border: 1px solid rgb(103, 103, 103);
    border-radius: .2rem;
}

::placeholder {
    color:  rgb(200, 200, 200);
    font-style: italic;
}

.plus {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(220,222,221);
    border: 1px solid rgb(199, 199, 199);
    border-radius: .2rem;
    color: rgb(255,255,255);
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 800;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 4rem;
}

.plus:hover {
    background-color: rgb(103, 103, 103);
}

.todo-list__container, .completed-list__container {
    margin: 1rem;
}

.task {
    display: flex;
    align-items: center;
    background-color: rgb(220, 225, 238);
    border-radius: .3rem;
    height: 3rem;
    line-height: 2.4rem;
    margin-bottom: .5rem;
    animation-name: ease_from_left;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
}

@keyframes ease_from_left {
    from {margin-left: 100%; opacity: 0}
    to {margin-left: 0%; opacity: 1}
}

.checkbox {
    border: 1px solid rgb(180, 180, 180);
    height: 1.3rem;
    margin: .6rem;
    width: 1.3rem;
}

.task-text {
    text-align: left;
}

.completed-list__container>.task {
    background-color: rgb(255, 255, 255);
}

.completed-list__container>.task>.task-text {
    color:  rgb(180, 180, 180);
    text-decoration: line-through;
}

.todo-list__container>p, .completed-list__container>p {
    margin-bottom: 1rem;
}

.fa.fa-trash-o {
    display: none;
    width: 0;
    opacity: 0;
}

.task:hover .fa.fa-trash-o {
    display: inline;
    width: 3.5rem;
    height: 3rem;
    padding: 0 1rem;
    margin-left: auto;
    text-align: center;
    background-color:  rgb(252, 98, 87);
    border: none;
    border-radius: 0 .2rem .2rem 0;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    line-height: 3rem;
    opacity: 1;
    animation-name: ease_trash;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes ease_trash {
    from {margin-right: 0%; opacity: 0; width: 1rem;}
    to {margin-right: 0%; opacity: 1; width: 3.5rem}
}

.button__container {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(242,246,253);
}

.show-hide, .clearAll, .rest {
    margin: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(242,246,253);
    border: none;
    color: rgb(100,100,100);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.notodo__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*height: 25rem;*/
    animation-name: ease_notodo;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

@keyframes ease_notodo {
    from {opacity: 0}
    to {opacity: 1}
}

.notodo {
    font-size: 3rem;
}

.hide {
    display: none;
}